{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline my-2 my-lg-0" method="POST" action="/user/search">
  <input class="form-control mr-sm-2" type="search"  name="id" placeholder="Search Users By ID" aria-label="Search">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>